@{ Layout = "~/Views/Shared/_ModalForm.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <div class="col-sm-12">
                <textarea id="body" col="Body" class="form-control" style="height:600px"></textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var act = 'editBody';

    $(function () {
        getForm();
        $("#form").validate({
            rules: {
            }
        });
    });

    function getForm() {
            ys.ajax({
                url: '@Url.Content("~/Scc/Article/GetEditBodyDtoJson")' + '?id=' + id,
                type: "get",
                success: function (rst) {
                    if (rst.Flag == 1) {
                        $("#form").setWebControls(rst.Data);
                    }
                    else ys.msgError(rst.Message);
                }
            });
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.Body = $("#body").val();
            ys.ajax({
                url: '@Url.Content("~/Scc/Article/")' + act,
                type: "post",
                data: postData,
                success: function (rst) {
                    if (rst.Flag == 1) {
                        ys.msgSuccess(rst.Message);
                    }
                    else ys.msgError(rst.Message);
                }
            });
        }
    }

</script>
