

.header-background {
    background-color: #1976d2;
    transition: background-color .2s
}

.transparent-background {
    background-color: transparent;
    transition: background-color .2s
}
.footer-background {
    background-color: #131b33;
    font-family: Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
}

.main-menu-background {
    background-color: #192138;
}

.sub-txt-nav-background {
    background-color: #192138;
}
